<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page</title>
</head>
<body>

<h2>luv2code home page-- yahoo!!!</h2>
<hr>

<h2>Welcome to the luv2code company Home page</h2>

<hr>
<!-- display the user name and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br>
    <br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>



<!--add a link to /leaders ..  this is for the manager -->

<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (only for Manager page)
    </p>
</div>

<!-- add a link to /systems ..  this is only for admin -->

<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">It Systems Meeting</a>
        (only for Admin page)
    </p>
</div>

<hr>

<!-- ADD logout button -->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>
